body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

select,
input[type="file"] {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    margin-top: 31px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #3865cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1d49e8;
}

#output {
    margin-top: 5px;
    color: rgb(0, 161, 0);
}

p {
    color: red;
}

#from-format {
    margin-right: 3%;
}