.youtube_wrapper {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube_wrapper .container {
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.youtube_wrapper h1 {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.youtube_wrapper input[type="text"] {
    width: 55%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.youtube_wrapper input[type="submit"] {
    padding: 10px 15px;
    background-color: #415fa7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.youtube_wrapper input[type="submit"]:hover {
    background-color: #3b5edf;
}

.youtube_wrapper .msg1 {
    color: red;
}

.youtube_wrapper .msg2 {
    color: rgb(0, 181, 0);
}

.youtube_wrapper #resolution {
    font-size: 20px;
}

.youtube_wrapper .container img {
    margin-bottom: 15px;
    width: 41%;
}

.youtube_wrapper a {
    color: #82a5f5;
    text-decoration: none;
}

.youtube_wrapper a:hover {
    text-decoration: underline;
}