
img {
    border-radius: 20%;
    box-shadow: 1px 2px 11px rgb(173, 225, 225), 1px 2px 11px rgb(155, 156, 156);
    padding: 0px;
    margin-left: 13%;
    margin-top: 3%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.leftside {
    flex: 1;
}

.rightside {
    flex: 1;
}

/* Style for the navigation bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(18, 147, 147);
    padding: 20px;
}

ul.navbar li {
    flex-grow: 1;
    text-align: center;
}

ul.navbar li:first-child,
ul.navbar li:last-child {
    flex-grow: 0;
    text-align: left;
    /* For the first link */
}

ul.navbar li:last-child {
    text-align: right;
    /* For the last link */
}

ul.navbar li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
}